


/* 這麼做的原因是要先看得到圖,才好整理 */
.login >div >img {
  /* 所有物件集中縮小 */
object-fit: contain;
height: 100px;
}


.login >div {
display: flex;
flex-direction: column;
}


/* 這邊透過grid 及place item放置中間 */
.login {
display:grid;
place-items: center;
height: 100vh;
}



.login > button {

width: 300px;
background-color: #c6cacf;
color:#effef5;
font-weight: 800;

}

.login >button:hover{
background-color:white;
color: #2e81f4

}